<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>少数民族——怒族</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>

<!-- top header -->
<section class="w3l-top-header">
{#    <div class="container">#}
{#        <div class="top-content-w3ls d-flex align-items-center justify-content-between">#}
{#            <div class="top-headers">#}
{#                <ul>#}
{#                    <li>#}
{#                        <i class="fa fa-map-marker-alt"></i><a href="#address">London, 235 Terry, 10001</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-phone"></i><a href="tel:+1(21) 234 4567">+1(21) 234 4567</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <i class="fa fa-envelope"></i><a href="mailto:mail@example.com">mail@example.com</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="top-headers top-headers-2">#}
{#                <ul>#}
{#                    <li>#}
{#                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#twitter"><span class="fab fa-twitter"></span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#instagram"><span class="fab fa-instagram"></span></a>#}
{#                </li>#}
{#                <li class=" mr-0">#}
{#                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</section>
<!-- //top header -->

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> 大江深处的怒族
                </a>
               </h1>
           <!-- if logo is image enable this
           <a class="navbar-brand" href="#index.html">
               <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
           </a> -->
           <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
               <span class="navbar-toggler-icon fa icon-close fa-times"></span>
           </button>

             <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
               <ul class="navbar-nav ms-lg-auto">
                   <li class="nav-item ">
                       <a class="nav-link" href="index.html">信息概览 <span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="wordcloud.html">热门词云</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="timeline.html">时间趋势</a>
                   </li>
                   <li class="nav-item" >
                       <a class="nav-link" href="network.html">网络关系</a>
                   </li>
                   <li class="nav-item ">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           主题分布<span class="fas fa-angle-down"></span>
                       </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <a class="dropdown-item" href="topic.html">主题分布</a>
                           <a class="dropdown-item" href="hottopic.html">主题与热度</a>
                       </div>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="emotion.html">情感分布</a>
                   </li>
                   <li class="nav-item  active">
                       <a class="nav-link" href="toplist.html">热门信息</a>
                   </li>

                   <!--/search-right-->
                   <ul class="header-search">
                       <li class="nav-item search-right">
                           <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                           <!-- search popup -->
                           <div id="search" class="pop-overlay">
                               <div class="popup">
                                   <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                   <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                       <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                       <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                   </form>
                               </div>
                               <a class="close" href="#close">×</a>
                           </div>
                           <!-- /search popup -->
                       </li>
                   </ul>
                   <!--//search-right-->
               </ul>
           </div>
           <!-- search button -->

           <!-- //search button -->

           <!-- toggle switch for light and dark theme -->
           <div class="cont-ser-position">
               <nav class="navigation">
                   <div class="theme-switch-wrapper">
                       <label class="theme-switch" for="checkbox">
                           <input type="checkbox" id="checkbox">
                           <div class="mode-container">
                               <i class="gg-sun"></i>
                               <i class="gg-moon"></i>
                           </div>
                       </label>
                   </div>
               </nav>
           </div>
           <!-- //toggle switch for light and dark theme -->
       </nav>
   </div>
</header>
<!--//header-->


<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
   <div class="breadcrumb-bg breadcrumb-bg-about py-5">
       <div class="container py-lg-5 py-md-4">
           <div class="banner-info-grid px-md-5">
               <h2 class="w3l-title-breadcrumb mb-3">热门信息</h2>
               <p class="inner-page-para px-lg-5">  文旅议题引发热议</p>
           </div>
       </div>
   </div>
</section>
<!-- //Services banner -->
<!-- Why Choose Us Section-->
<section class="w3l-whychooseus py-5" >
<table class="table table-responsive-md" >
    <thead>
   <tr style="text-align: center;">
     <th>排序</th>
     <th>博文内容</th>
     <th>发布账号</th>
     <th>发布时间</th>
     <th>评论数</th>
     <th>点赞数</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td>1</td>
     <td>#文艺志愿服务助力乡村振兴#@降央卓玛脱缰野马为云南省贡山独龙族怒族自治县创作歌曲...</td>
     <td>中**</td>
     <td>2023-03-16</td>
     <td>1</td>
     <td>10264</td>
   </tr>
   <tr>
     <td>2</td>
     <td>#旅行##美食# 旅行的路上：有好友，有美酒，有美食，有篝火。这种惬意生活只能慢慢享受！...</td>
     <td>极**</td>
     <td>2023-03-18</td>
     <td>837</td>
     <td>7130</td>
   </tr>
   <tr>
     <td>3</td>
     <td>#MiniBAZAAR三月刊##中华民族服饰之美芭莎大片#中国传统民族服饰历经千年演变，如今依旧绽放着千姿百态...</td>
     <td>东**</td>
     <td>2023-03-02</td>
     <td>8</td>
     <td>3287</td>
   </tr>
   <tr>
     <td>4</td>
     <td>【#中华民族传统服饰之美# 芭莎『中华民族传统服饰之美』大片完整版】展示了我国56个民族灿烂的服装文化...</td>
     <td>三**</td>
     <td>2023-03-04</td>
     <td>0</td>
     <td>1814</td>
   </tr>
   <tr>
     <td>5</td>
     <td>#61儿童节# 儿童节，云南老姆登怒族的孩子们唱的歌...</td>
     <td>龚**</td>
     <td>2023-06-01</td>
     <td>103</td>
     <td>989</td>
   </tr>
   <tr>
     <td>6</td>
     <td>#纪录电影落地生根定档4月20日# 全国上映。在中国最贫困的“三区三州”之一云南怒江傈僳族自治州...</td>
     <td>牯**</td>
     <td>2023-03-29</td>
     <td>315</td>
     <td>563</td>
   </tr>
   <tr>
     <td>7</td>
     <td>#怒江18口之家来自6个不同民族##梦想改造家#云南丙中洛地区民族文化十分丰富，仅委托人丁大妈...</td>
     <td>梦**</td>
     <td>2023-01-12</td>
     <td>347</td>
     <td>442</td>
   </tr>
   <tr>
     <td>8</td>
     <td>🔅不得不说怒江之行景色很丰富，沿途可以看到雪山、峡谷、湖泊、古民居等，一次让你领略众多云南特色美景...</td>
     <td>马**</td>
     <td>2023-05-28</td>
     <td>115</td>
     <td>383</td>
   </tr>
   <tr>
     <td>9</td>
     <td>Vlog｜怒江·老姆登村 烤乳猪天花板竟然藏在一个怒族小村庄云南怒江州的老姆登村...</td>
     <td>安**</td>
     <td>2023-03-17</td>
     <td>33</td>
     <td>368</td>
   </tr>
   <tr>
     <td>10</td>
     <td>【高考接好运！#云南千只金蟾举行集体婚礼#】成千只金蟾在云南省怒江傈僳族自治州贡山独龙族怒族自治县现身...</td>
     <td>央**</td>
     <td>2023-06-09</td>
     <td>22</td>
     <td>184</td>
   </tr>
 </tbody>
    </table>

</section>

<footer class="w3l-footer-29-main">
       <div class="container pt-md-4">
{#            <div class="row footer-top-29">#}
{#                <div class="col-lg-4 col-md-6 footer-list-29">#}
{#                    <h6 class="footer-title-29">Contact Info </h6>#}
{#                    <p class="mb-2 pe-xl-5">Address : Intelligence, 10001, 5th Avenue, #06 lane street, NY - 62617.#}
{#                    </p>#}
{#                    <p class="mb-2">Phone Number : <a href="tel:+1(21) 234 4567">+1(21) 234 4567</a></p>#}
{#                    <p class="mb-2">Email : <a href="mailto:info@example.com">info@example.com</a></p>#}
{#                    <p class="mb-2">Support : <a href="mailto:support@example.com">support@example.com</a></p>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">#}
{#                    <ul>#}
{#                        <h6 class="footer-title-29">Quick Links</h6>#}
{#                        <li><a href="about.html">About Company</a></li>#}
{#                        <li><a href="#blog">Blog Posts</a></li>#}
{#                        <li><a href="services.html">Our Services</a></li>#}
{#                        <li><a href="contact.html">Contact Us</a></li>#}
{#                        <li><a href="#shortcodes">Shortcodes</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-2 col-md-3 col-6 ps-lg-5 ps-lg-4 footer-list-29 mt-md-0 mt-4">#}
{#                    <ul>#}
{#                        <h6 class="footer-title-29">Explore</h6>#}
{#                        <li><a href="#blog">Blog Posts</a></li>#}
{#                        <li><a href="#privacy">Privacy policy</a></li>#}
{#                        <li><a href="contact.html">Contact Us</a></li>#}
{#                        <li><a href="#license">License & uses</a></li>#}
{#                        <li><a href="#blog">View Articles</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-6 footer-list-29 mt-lg-0 mt-4 ps-lg-5">#}
{#                    <h6 class="footer-title-29">Subscribe</h6>#}
{#                    <form action="#" class="subscribe d-flex" method="post">#}
{#                        <input type="email" name="email" placeholder="Email Address" required="">#}
{#                        <button class="button-style"><span class="fa fa-paper-plane"#}
{#                                aria-hidden="true"></span></button>#}
{#                    </form>#}
{#                    <p class="mt-4">Subscribe to our mailing list and get updates to your email inbox.</p>#}
{#                </div>#}
{#            </div>#}
           <!-- copyright -->
           <p class="copy-footer-29 text-center mt-5 pb-2">© 22301203 胡紫怡（hzy）. 热门信息. </p>
           <!-- //copyright -->
       </div>
</footer>
<!-- //footer block -->




<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
   <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
   // When the user scrolls down 20px from the top of the document, show the button
   window.onscroll = function () {
       scrollFunction()
   };

   function scrollFunction() {
       if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
           document.getElementById("movetop").style.display = "block";
       } else {
           document.getElementById("movetop").style.display = "none";
       }
   }

   // When the user clicks on the button, scroll to the top of the document
   function topFunction() {
       document.body.scrollTop = 0;
       document.documentElement.scrollTop = 0;
   }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
   $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
   $(document).ready(function() {
       $("#owl-demo1").owlCarousel({
           loop: true,
           nav: false,
           responsiveClass: true,
           responsive: {
               0: {
                   items: 1,
                   nav: false
               },
               736: {
                   items: 1,
                   nav: false
               }
           }
       })
   })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
   $(window).on("scroll", function () {
       var scroll = $(window).scrollTop();

       if (scroll >= 80) {
           $("#site-header").addClass("nav-fixed");
       } else {
           $("#site-header").removeClass("nav-fixed");
       }
   });

   //Main navigation Active Class Add Remove
   $(".navbar-toggler").on("click", function () {
       $("header").toggleClass("active");
   });
   $(document).on("ready", function () {
       if ($(window).width() > 991) {
           $("header").removeClass("active");
       }
       $(window).on("resize", function () {
           if ($(window).width() > 991) {
               $("header").removeClass("active");
           }
       });
   });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
   $(function () {
       $('.navbar-toggler').click(function () {
           $('body').toggleClass('noscroll');
       })
   });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>